body{
	margin: 0;
	box-sizing: border-box;
	background: linear-gradient(rgb(51, 0, 108), rgb(118,58,255));
	display: flex;
	flex-direction: column;
	align-items: auto;
	font-family: monospace;
	height: 100vh;
	color: white;
	font-size: 30px;
}

.roulette{
	height: 100vh;
	width: 100vh;
	cursor: pointer;
}